<div class="carrinho-container">

    <!-- Cabeçalho do Carrinho -->
    <div class="carrinho-titulo-container">
        <p class="carrinho-titulo">Carrinho de Compras</p>
        <p class="carrinho-quantidadeItens">0 itens</p>
    </div>

    <!-- Lista de Produtos -->
    <div class="carrinho-produtocard">

        <!-- Para cara Produto do Carrinho -->
        <div class="cardProdutoCarrinho">

            <div class="carrinho-produtocard-info">
                <p class="carrinho-produtocard-info-nome">Nome do Produto</p>
                <p class="carrinho-produtocard-info-preco aproximar">R$ 00,00</p>
            </div>

            <p class="carrinho-produtocard-info-quantidade">0 Un</p>

        </div>

        <hr class="solid">

        <div class="carrinho-produtocard-totalcontainer">
            <p class="carrinho-produtocard-totaltexto">Valor Total</p>
            <p class="carrinho-produtocard-totaltexto">R$ 00,00</p>
        </div>

        <div class="carrinho-botao-comprar">
            <p class="carrinho-comprar-texto">Prosseguir para o Pagamento</p>
        </div>
    </div>
</div>